{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier",
    "react-hooks"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ]
}